/.vs
/Library
*.sln
Library/ArtifactDB
/obj
Library/StateCache/SceneView/b9e9fb-mainStage.json
Assembly-CSharp.csproj
Library/ArtifactDB
/Library
Library/SourceAssetDB
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/ScriptAssemblies/Assembly-CSharp.dll
